<div>
  <!-- nav -->
  <div>
    <!-- Dropdown Structure Navigation Bar-->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!" id="aboutlink" class="waves-effect waves-red">AboutUs</a></li>
      <li><a href="#!" id="memberlink" class="waves-effect waves-red">Member</a></li>
      <li class="divider"></li>
      <li><a href="#!" id="contactlink" class="waves-effect waves-red">Contact</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
      <div class="row">
        <a href="#!" class="brand-logo center"><img src="http://materializecss.com/images/yuna.jpg" class="circle responsive-img" id="logo" alt="" width="60px" height="60px"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
        	<li><a href="#!" class="waves-effect waves-light"><i class="mdi-action-search"></i></a></li>
          <li><a href="#!" class="waves-effect waves-orange">ProJect</a></li>
          <li><a href="#!" class="waves-effect waves-teal" id="skilllink">Skill</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Info<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <!-- <li><a href="mobile.html" class="dropdown-button" data-activates="dropdown1"><i class="mdi-navigation-more-vert right"></i></a></li> -->
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li><a href="#!" class="waves-effect waves-teal"><i class="mdi-action-search"></i></a></li>
          <li><a href="#!" class="waves-effect waves-teal">ProJect</a></li>
          <li><a href="#!" class="waves-effect waves-teal" id="skilllink">Skill</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div>
  	<div class="parallax-container">
      <div class="parallax"><img src="http://materializecss.com/images/parallax1.jpg" alt=""></div>
    </div>

    <!-- About -->
    <div class="container" id="aboutus">
    	<div class="row">
    		<div class="section-inner">
          <header class="section-header">
            <h2 class="section-title wow fadeInDown col s12" data-wow-delay="0.3s">About Us<span class="section-title-border"></span></h2>
            <div class="divider"></div>
            <div class="section-description wow fadeInUp col s8 offset-s2" data-wow-delay="0.6s">Duis tincidunt augue purus, sagittis consectetur risus. Nulla consequat risus vel nibh elementum vitae adipiscing magna.Nam tincidunt magna quis libero aliquam eu hendrerit nisi varius. Proin at magna sem praesent mollis consectetur ligula et veibm. Nullam condimentum, nisl at tempor congue.</div>
          </header>
          <div class="md-margin2x row"><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i></div>
          <div class="aboutus-content row">
            <div class="row">
              <ul class="aboutus-content-list row">
                <li class="col s6 wow bounceIn" data-wow-delay="0.4s"><span class="aboutus-big-icon big-icon-responsive"></span>
                  <div class="aboutus-content-details">
                    <h4 class="aboutus-content-title">Responsive Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus justo nec dolor adipiscing porttitor. Duisnibh at est laoreet suscipit.</p>
                  </div>
                </li>
                <li class="col s6 wow bounceIn" data-wow-delay="0.6s"><span class="aboutus-big-icon big-icon-retina"></span>
                  <div class="aboutus-content-details">
                    <h4 class="aboutus-content-title">Retina Ready</h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam nec diam quisiaculis suscipit. Nullam in lorem lorem.</p>
                  </div>
                </li>
                <li class="col s6 wow bounceIn" data-wow-delay="0.7s"><span class="aboutus-big-icon big-icon-admin"></span>
                  <div class="aboutus-content-details">
                    <h4 class="aboutus-content-title">Powerful Admin Panel</h4>
                    <p>Vestibulum porttitor erat id gravida tincidunt. Ut vitae molestie elit. Cras commo do et lorem sit amet commodo. Praesent a ligula a est ultrices.</p>
                  </div>
                </li>
                <li class="col s6 wow bounceIn" data-wow-delay="0.8s"><span class="aboutus-big-icon big-icon-support"></span>
                  <div class="aboutus-content-details">
                    <h4 class="aboutus-content-title">Quality support</h4>
                    <p>Vivamus ut vulputate nibh, vel ornare massa. Vivamus nulla turpis, dapibus at tempor vitae, congue id sapien. Suspendisse potenti. Aenean feugiat condimentum.</p>
                  </div>
                </li>
                <li class="col s6 wow bounceIn" data-wow-delay="1s"><span class="aboutus-big-icon big-icon-customize"></span>
                  <div class="aboutus-content-details">
                    <h4 class="aboutus-content-title">Easy Customize</h4>
                    <p>Curabitur convallis in turpis non dignissim. Ut bibendum dolor nec metus scelerisque, sed accumsan lectus consectetur. Proin eget sodales magna.</p>
                  </div>
                </li>
                <li class="col s6 wow bounceIn" data-wow-delay="1.1s"><span class="aboutus-big-icon big-icon-documented"></span>
                  <div class="aboutus-content-details">
                    <h4 class="aboutus-content-title">Well Documented</h4>
                    <p>Sed fermentum fringilla lorem id scelerisque. Praesent venenatis sagittis dui eu euismod. Proin gravida ipsum necsuscipit pellentesque.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      	</div>
    	</div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="http://materializecss.com/images/parallax1.jpg" alt=""></div>
    </div>

  	<!-- Our Team -->
    <div class="container" id="member">
    	<div class="row">
    		<header class="section-header">
          <h2 class="section-title wow fadeInDown col s12" data-wow-delay="0.3s">Our Team<span class="section-title-border"></span></h2>
          <div class="divider"></div>
          <div class="section-description wow fadeInUp col s8 offset-s2" data-wow-delay="0.6s">Duis tincidunt augue purus, sagittis consectetur risus. Nulla consequat risus vel nibh elementum vitae adipiscing magna.Nam tincidunt magna quis libero aliquam eu hendrerit nisi varius. Proin at magna sem praesent mollis consectetur ligula et veibm. Nullam condimentum, nisl at tempor congue.</div>
        </header>
        <div class="divider"></div>
        <div class="md-margin2x row"><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i></div>
        <div class="carousel-container section-team-carousel-container">
          <div class="row">
            <div class="owl-carousel section-team-carousel wow bounceInRight" data-wow-delay="0.5s">
              <div class="team-member col s4">
                  <figure><img class="responsive-img materialboxed imgmember" src="http://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg" alt="Dana Kinsman" width="200px" height="300px">
                  </figure>
                  <h5 class="member-name">NoPu Nguyen</h5>
                  <p class="member-position">General Director</p>
                  <div class="line-separator"><span></span>
                  </div>
                  <p class="member-quote">Cras ullamcorper ullamcorper ultrices. Etiam diam est, adipis.</p>
                  <ul class="social-icons light clearfix">
                    <li>
                      <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                    </li>
                    <li>
                      <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                    </li>
                    <li>
                      <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                    </li>
                    <li>
                      <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                    </li>
                  </ul>
              </div>
              <div class="team-member col s4">
                  <figure><img class="responsive-img materialboxed imgmember" src="http://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg" alt="Tom Manseron" width="200px" height="300px">
                  </figure>
                  <h5 class="member-name">Nghia Nguyen</h5>
                  <p class="member-position">Creative Director</p>
                  <div class="line-separator"><span></span>
                  </div>
                  <p class="member-quote">Praesent tempus ullamcorper massa, sit amet commodo ipsum.</p>
                  <ul class="social-icons light clearfix">
                    <li>
                      <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                    </li>
                    <li>
                      <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                    </li>
                    <li>
                      <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                    </li>
                    <li>
                      <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                    </li>
                  </ul>
              </div>
              <div class="team-member col s4">
                  <figure><img class="responsive-img materialboxed imgmember" src="http://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg" alt="Hannah Cranwell" width="200px" height="300px">
                  </figure>
                  <h5 class="member-name">Tam Dang</h5>
                  <p class="member-position">Project Manager</p>
                  <div class="line-separator"><span></span>
                  </div>
                  <p class="member-quote">Proin eget sodales magna. Proin ac est convallis, interdum.</p>
                  <ul class="social-icons light clearfix">
                    <li>
                      <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                    </li>
                    <li>
                      <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                    </li>
                    <li>
                      <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                    </li>
                    <li>
                      <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </div>

    <div class="parallax-container" id="skillus">
      <div class="parallax"><img src="http://materializecss.com/images/parallax1.jpg" alt=""></div>
      <div class="container">
      	<div class="row">
    		<header class="section-header">
          <h2 class="section-title wow fadeInDown col s12" data-wow-delay="0.3s">Our Skill<span class="section-title-border"></span></h2>
          <div class="divider"></div>
          <div class="section-description wow fadeInUp col s8 offset-s2" data-wow-delay="0.6s">Duis tincidunt augue purus, sagittis consectetur risus. Nulla consequat risus vel nibh elementum vitae adipiscing magna.Nam tincidunt magna quis libero aliquam eu hendrerit nisi varius. Proin at magna sem praesent mollis consectetur ligula et veibm. Nullam condimentum, nisl at tempor congue.</div>
        </header>
        <div class="divider"></div>
        <div class="md-margin2x row"><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i></div>
        <div class="carousel-container section-team-carousel-container">
          <div class="row">
            <div class="owl-carousel section-team-carousel wow bounceInRight row" data-wow-delay="0.5s" style="margin: 0">
            	<div class="col s6">
            		<div class="progress"><span>Ruby On Rails</span>
  					      <div class="determinate ruby"></div>
  						  </div>
  	            <div class="progress"><span>Scala</span>
  					      <div class="determinate scala"></div>
  						  </div>
  						  <div class="progress"><span>PHP</span>
  					      <div class="determinate php"></div>
  						  </div>
            	</div>
            	<div class="col s6">
            		<div class="progress"><span>NodeJS</span>
  					      <div class="determinate nodejs"></div>
  						  </div>
  						  <div class="progress"><span>Angular</span>
  					      <div class="determinate angular">
  					      	<!-- <div><span>tenten</span></div> -->
  					      </div>
  						  </div>
  						  <div class="progress"><span>Html/Css</span>
  					      <div class="determinate htmlcss"></div>
  						  </div>
            	</div>
            </div>
          </div>
        </div>
    	</div>
      </div>
    </div>
  	
  	<!-- Contact Us -->
    <div class="container" id="contactus">
    	<div class="row">
    		<header class="section-header">
          <h2 class="section-title wow fadeInDown col s12" data-wow-delay="0.3s">Contact Us<span class="section-title-border"></span></h2>
          <div class="divider"></div>
          <div class="section-description wow fadeInUp col s8 offset-s2" data-wow-delay="0.6s">Duis tincidunt augue purus, sagittis consectetur risus. Nulla consequat risus vel nibh elementum vitae adipiscing magna.Nam tincidunt magna quis libero aliquam eu hendrerit nisi varius. Proin at magna sem praesent mollis consectetur ligula et veibm. Nullam condimentum, nisl at tempor congue.</div>
        </header>
        <div class="divider"></div>
        <div class="md-margin2x row"><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i><i class="mdi-toggle-radio-button-on"></i></div>
        <div class="carousel-container section-team-carousel-container">
          <div class="row">
  				  <form class="col s12">
  				    <div class="row">
  				      <div class="input-field col s4">
  				        <i class="mdi-action-account-circle prefix"></i>
  				        <input id="icon_prefix" type="text" class="validate" required>
  				        <label for="icon_prefix">First Name</label>
  				      </div>
  				      <div class="input-field col s4">
  				        <i class="mdi-communication-email prefix"></i>
  				        <input id="icon_email" type="email" class="validate" required>
  				        <label for="icon_email">Email</label>
  				      </div>
  				      <div class="input-field col s4">
  				        <i class="mdi-communication-phone prefix"></i>
  				        <input id="icon_telephone" type="tel" class="validate" required>
  				        <label for="icon_telephone">Telephone</label>
  				      </div>
  				      <div class="input-field col s12">
  				        <i class="mdi-editor-mode-edit prefix"></i>
  				        <textarea id="icon_prefix2" class="materialize-textarea" required></textarea>
  				        <label for="icon_prefix2">Your Message</label>
  				      </div>
  				      <div class="input-field col s12 contactSubmit">
  				      	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
  							    <i class="mdi-content-send right"></i>
  							  </button>
  				      </div>
  				    </div>
  				  </form>
  				</div>
        </div>
    	</div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="large mdi-editor-mode-edit"></i>
      </a>
      <ul>
        <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-insert-chart"></i></a></li>
        <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-format-quote"></i></a></li>
        <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-publish"></i></a></li>
        <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-attach-file"></i></a></li>
      </ul>
    </div>
  </div>
</div>